{% extends "base.html" %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
<section class="hero">
    <header class="heroheader">
        <div>
            <h1>FramtidsRytm AB</h1>
        </div>
        <h2>Vi kopplar ihop människor och företag</h2>
    </header>
    <p class="heroimg">

    </p>
</section>

<section>
    <div class="winners">
        <h2>Vi har flest nöjda medarbetare i branschen!</h2>
        <div class="winnerspleft">
            <h5>Antal anställda</h5>
            <p>545 personer</p>
        </div>
        <div class="winnerspfirst">
            <h5>Antalnöjda anställda</h5>
            <p>99%</p>
        </div>
        <div class="winnerspmiddle">
            <h5>Great Place to work</h5>
            <p>En av sveriges bästa arbetsplatser 2023</p>
        </div>
        <div class="winnerspright">
            <h5>2023 år vinnare i högst NKI</h5>
        </div>
    </div>
</section>

<section class="sectionsection">
    <div class="two">
        <div class="textboxsectiontwo">
            <h2>Vad jobbar vi med?</h2>
            <p>
                FramtidsRytm AB är ett innovativt företag som fokuserar på att skapa meningsfulla kopplingar mellan
                människor och företag för att främja individuell och professionell utveckling. Genom vår unika
                plattform för matchning och samarbete skapar vi möjligheter för människor att hitta rätt arbetsmiljö
                där de kan växa och bidra på bästa sätt. Vi tror på att varje individ har potential att blomstra,
                och genom att skapa rätt förutsättningar och nätverk ökar vi möjligheterna för både individer och
                företag att lyckas. Med vårt dedikerade team av matchningsspecialister och branschexperter strävar
                vi ständigt efter att göra skillnad och skapa en positiv inverkan på arbetslivet.
            </p>
        </div>
        <div class="textbox number1">
            <h3 class="textboxh3">
                Effektiv matchning
            </h3>
            <p>
                Vi använder avancerade matchningsalgoritmer som kontinuerligt förfinas med hjälp av dataanalys och
                användarfeedback. Genom att analysera både kvantitativa och kvalitativa variabler strävar vi efter
                att skapa perfekta partnerskap som gynnar både individen och företaget.

            </p>
        </div>

        <div class="textbox number2">
            <h3 class="textboxh3">
                Kontinuerlig utvärdering och feedback
            </h3>
            <p>
                Vi har etablerat en strukturerad feedbackprocess där vi aktivt samlar in och analyserar åsikter från
                både individer och företag. Denna feedback integreras sedan i vår utvecklingscykel för att ständigt
                förbättra våra tjänster och matchningsalgoritmer.
            </p>
        </div>

        <div class="textbox number3">
            <h3 class="textboxh3">
                Skapa långsiktiga relationer
            </h3>
            <p>
                Vi lägger stor vikt vid att bygga och underhålla starka relationer med våra kunder. Genom personliga
                möten, regelbundna uppföljningar och skräddarsydda lösningar strävar vi efter att vara en pålitlig
                partner som förstår och stödjer våra kunders långsiktiga mål.
            </p>
        </div>

        <div class="textbox number4">
            <h3 class="textboxh3">
                Innovation och teknologisk utveckling
            </h3>
            <p>
                Vi är ständigt engagerade i att utforska och implementera nya teknologier och innovativa verktyg för
                att förbättra vår matchningsprocess. Genom att hålla oss ajour med de senaste trenderna och
                investera i forskning och utveckling säkerställer vi att vi förblir ledande inom branschen när det
                gäller teknologisk innovation och effektivitet.
            </p>
        </div>
    </div>
</section>

{% endblock %}