/* Skills */
#javascripttexthidden {
    display:none;
}
#html5texthidden {
    display:none;
}
#csstexthidden {
    display:none;
}
#githubtexthidden {
    display:none;
}
#sqltexthidden {
    display:none;
}
/* /Skills */

/* References */
#person2texthidden {
    display:none;
}
#person3texthidden {
    display:none;
}
/* /References */